In [1]:
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import os
import csv

In [2]:
# Read the CSV file into a Pandas DataFrame

notes = pd.read_csv('crime_data_csv.csv')
notes.head()

    case_no date_of_occurrence  primary_description  arrests  domestic  ward
0  JE123460          1/26/2021                    0        0         1     5
1  JE123503          1/26/2021                    1        0         1    20
2  JE123996          1/26/2021                    2        0         0    48
3  JE123507          1/26/2021                    1        0         1    21
4  JE123544          1/26/2021                    3        0         0    27

In [3]:
help(pd.DataFrame.value_counts)

Help on function value_counts in module pandas.core.frame:

value_counts(self, subset: 'Optional[Sequence[Label]]' = None, normalize: 'bool' = False, sort: 'bool' = True, ascending: 'bool' = False)
    Return a Series containing counts of unique rows in the DataFrame.

    .. versionadded:: 1.1.0

    Parameters
    ----------
    subset : list-like, optional
        Columns to use when counting unique combinations.
    normalize : bool, default False
        Return proportions rather than frequencies.
    sort : bool, default True
        Sort by frequencies.
    ascending : bool, default False
        Sort in ascending order.

    Returns
    -------
    Series

    See Also
    --------
    Series.value_counts: Equivalent method on Series.

    Notes
    -----
    The returned Series will have a MultiIndex with one level per input
    column. By default, rows that contain any NA values are omitted from
    the result. By default, the resulting Series will be in descending
    order so that the first element is the most frequently-occurring row.

    Examples
    --------
    >>> df = pd.DataFrame({'num_legs': [2, 4, 4, 6],
    ...                    'num_wings': [2, 0, 0, 0]},
    ...                   index=['falcon', 'dog', 'cat', 'ant'])
    >>> df
            num_legs  num_wings
    falcon         2          2
    dog            4          0
    cat            4          0
    ant            6          0

    >>> df.value_counts()
    num_legs  num_wings
    4         0            2
    2         2            1
    6         0            1
    dtype: int64

    >>> df.value_counts(sort=False)
    num_legs  num_wings
    2         2            1
    4         0            2
    6         0            1
    dtype: int64

    >>> df.value_counts(ascending=True)
    num_legs  num_wings
    2         2            1
    6         0            1
    4         0            2
    dtype: int64

    >>> df.value_counts(normalize=True)
    num_legs  num_wings
    4         0            0.50
    2         2            0.25
    6         0            0.25
    dtype: float64

In [4]:
# Assign the data to X and y
# Note: Sklearn requires a two-dimensional array of values
# so we use reshape() to create this

X = notes[['primary_description','domestic','ward']]
y = notes['arrests']

print("Shape: ", X.shape, y.shape)

Shape:  (80006, 3) (80006,)

In [5]:
print(X)

       primary_description  domestic  ward
0                        0         1     5
1                        1         1    20
2                        2         0    48
3                        1         1    21
4                        3         0    27
...                    ...       ...   ...
80001                    1         1    42
80002                    5         0     3
80003                    1         1     5
80004                    1         1     7
80005                    6         0    14

[80006 rows x 3 columns]

In [6]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [7]:
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression()
classifier

LogisticRegression()

In [8]:
classifier.fit(X_train, y_train)

LogisticRegression()

In [9]:
print(f"Training Data Score: {classifier.score(X_train, y_train)}")
print(f"Testing Data Score: {classifier.score(X_test, y_test)}")

Training Data Score: 0.876424905006333
Testing Data Score: 0.8757124287571243

Make redictions

In [10]:
print(f'Actual:\t\t{list(y_test[:10])}')
print(f'Predicted:\t{list(classifier.predict(X_test[:10]))}')

Actual:		[0, 1, 0, 0, 0, 0, 0, 0, 0, 0]
Predicted:	[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [11]:
crime_cluster = notes.drop(axis=0,columns=['case_no','date_of_occurrence'])
crime_cluster.head()

   primary_description  arrests  domestic  ward
0                    0        0         1     5
1                    1        0         1    20
2                    2        0         0    48
3                    1        0         1    21
4                    3        0         0    27

In [12]:
count_of_columns = crime_cluster.count()
count_of_columns

primary_description    80006
arrests                80006
domestic               80006
ward                   80006
dtype: int64

In [13]:
count_of_columns = crime_cluster['ward'].count()
count_of_columns

80006

Analysis of Data after Running Logical Regression

In [14]:
new_csv = pd.read_csv('crime_data_csv.csv')
new_csv[new_csv['arrests'] == 1]['ward'].value_counts().to_csv('Ward_count_arrests.csv')
ward_count = pd.read_csv('Ward_count_arrests.csv')
ward_count = ward_count.rename(columns={'Unnamed: 0':'Ward_id','ward':'Arrests_counts'})
ward_count

    Ward_id  Arrests_counts
0        28             927
1        24             598
2        27             485
3        42             467
4         6             396
5        21             393
6        17             385
7        37             375
8        16             352
9        34             332
10        9             330
11       20             314
12        8             303
13       29             262
14        3             244
15        7             226
16        4             221
17       26             189
18       25             170
19       41             157
20        5             150
21       49             144
22       22             140
23       15             140
24       10             126
25       12             124
26        2             124
27       36             123
28        1             115
29       31             114
30       44             110
31       11             105
32       35             100
33       30              92
34       46              88
35       45              80
36       23              80
37       18              78
38       40              77
39       50              73
40       38              72
41       14              72
42       47              67
43       48              64
44       32              62
45       13              60
46       19              58
47       39              49
48       33              42
49       43              40

In [15]:
ward_avg = pd.read_csv('crime_data_csv.csv')
ward_avg[ward_avg['arrests'] == 0]['ward'].value_counts().to_csv('Ward_count_nonarrests.csv')
ward_count_non = pd.read_csv('Ward_count_nonarrests.csv')
ward_count_non = ward_count_non.rename(columns={'Unnamed: 0':'Ward_id','ward':'Non_arrest_counts'})
ward_count_non

    Ward_id  Non_arrest_counts
0        27               2943
1        28               2942
2         6               2754
3        42               2690
4         8               2478
5        24               2426
6         7               2350
7        20               2309
8        17               2254
9        21               2211
10        9               2177
11        3               2140
12       16               2055
13        4               1959
14       34               1957
15       37               1880
16        5               1873
17       29               1755
18       25               1433
19       10               1308
20        1               1174
21       49               1152
22        2               1091
23       26               1058
24       18               1033
25       15               1025
26       46               1024
27       44               1018
28       40                926
29       48                913
30       11                894
31       12                877
32       31                871
33       22                858
34       32                856
35       36                855
36       35                851
37       50                846
38       14                845
39       41                826
40       47                785
41       30                784
42       23                761
43       45                744
44       39                717
45       43                704
46       33                690
47       38                690
48       13                688
49       19                661

In [16]:
# Add prediected values onto the original dataframe
# combined_ward = pd.DataFrame(ward_count, columns=['Ward_id'])
# combined = ward_count_non.merge(combined_ward, how='right')
# combined_ward.head()
ward_count.merge(ward_count_non, on='Ward_id', how='inner')

    Ward_id  Arrests_counts  Non_arrest_counts
0        28             927               2942
1        24             598               2426
2        27             485               2943
3        42             467               2690
4         6             396               2754
5        21             393               2211
6        17             385               2254
7        37             375               1880
8        16             352               2055
9        34             332               1957
10        9             330               2177
11       20             314               2309
12        8             303               2478
13       29             262               1755
14        3             244               2140
15        7             226               2350
16        4             221               1959
17       26             189               1058
18       25             170               1433
19       41             157                826
20        5             150               1873
21       49             144               1152
22       22             140                858
23       15             140               1025
24       10             126               1308
25       12             124                877
26        2             124               1091
27       36             123                855
28        1             115               1174
29       31             114                871
30       44             110               1018
31       11             105                894
32       35             100                851
33       30              92                784
34       46              88               1024
35       45              80                744
36       23              80                761
37       18              78               1033
38       40              77                926
39       50              73                846
40       38              72                690
41       14              72                845
42       47              67                785
43       48              64                913
44       32              62                856
45       13              60                688
46       19              58                661
47       39              49                717
48       33              42                690
49       43              40                704