In [73]:
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import os
import csv

In [57]:
# Read the CSV file into a Pandas DataFrame

notes = pd.read_csv('crime_data_csv.csv')
notes.head()

    case_no date_of_occurrence  primary_description arrests  domestic  ward
0  JE123460          1/26/2021                    0       N         1     5
1  JE123503          1/26/2021                    1       N         1    20
2  JE123996          1/26/2021                    2       N         0    48
3  JE123507          1/26/2021                    1       N         1    21
4  JE123544          1/26/2021                    3       N         0    27

In [58]:
# Assign the data to X and y
# Note: Sklearn requires a two-dimensional array of values
# so we use reshape() to create this

X = notes[['primary_description','domestic','ward']]
y = notes['arrests']

print("Shape: ", X.shape, y.shape)

Shape:  (80006, 3) (80006,)

In [59]:
print(X)

       primary_description  domestic  ward
0                        0         1     5
1                        1         1    20
2                        2         0    48
3                        1         1    21
4                        3         0    27
...                    ...       ...   ...
80001                    1         1    42
80002                    5         0     3
80003                    1         1     5
80004                    1         1     7
80005                    6         0    14

[80006 rows x 3 columns]

In [60]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [61]:
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression()
classifier

LogisticRegression()

In [62]:
classifier.fit(X_train, y_train)

LogisticRegression()

In [63]:
print(f"Training Data Score: {classifier.score(X_train, y_train)}")
print(f"Testing Data Score: {classifier.score(X_test, y_test)}")

Training Data Score: 0.876424905006333
Testing Data Score: 0.8757124287571243

Make redictions

In [64]:
print(f'Actual:\t\t{list(y_test[:10])}')
print(f'Predicted:\t{list(classifier.predict(X_test[:10]))}')

Actual:		['N', 'Y', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N']
Predicted:	['N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N']

In [67]:
crime_cluster = notes.drop(axis=0,columns=['case_no','date_of_occurrence'])
crime_cluster.head()

   primary_description arrests  domestic  ward
0                    0       N         1     5
1                    1       N         1    20
2                    2       N         0    48
3                    1       N         1    21
4                    3       N         0    27

In [71]:
count_of_columns = crime_cluster.count()
count_of_columns

primary_description    80006
arrests                80006
domestic               80006
ward                   80006
dtype: int64

In [72]:
count_of_columns = crime_cluster['ward'].count()
count_of_columns

80006

In [76]:
# Initialize a total arrest counter.
total_arrests = 0

# Ward options and ward total arrest
ward_options = []
# 1. Declare the empty dictionary.
ward_arrests = {}

In [80]:
# Open the election results and read the file.
with open("crime_data_csv.csv") as arrest_data:
    file_reader = csv.reader(arrest_data)

    # Read the header row.
    headers = next(file_reader)

    # Print each row in the CSV file.
    for row in file_reader:
        # Add to the total arrest count.
        total_arrests += 1

        # Print the candidate name from each row.
        ward_number = row[5]

        if ward_number not in ward_options:
          # Add the candidate name to the candidate list.
            ward_options.append(ward_number)

           # 2. Begin tracking that candidate's vote count.
            total_arrests[ward_number] = 0
            # Add a vote to that candidate's count.
            total_arrests[ward_number] += 1

# Print the candidate vote dictionary.
print(ward_arrests)

{'5': 1, '20': 1, '48': 1, '21': 1, '27': 1, '44': 1, '2': 1, '43': 1, '50': 1, '41': 1, '25': 1, '30': 1, '10': 1, '24': 1, '7': 1, '17': 1, '36': 1, '3': 1, '34': 1, '42': 1, '8': 1, '35': 1, '31': 1, '9': 1, '37': 1, '13': 1, '38': 1, '19': 1, '23': 1, '46': 1, '4': 1, '28': 1, '6': 1, '45': 1, '15': 1, '40': 1, '11': 1, '14': 1, '29': 1, '47': 1, '39': 1, '26': 1, '18': 1, '49': 1, '16': 1, '22': 1, '12': 1, '1': 1, '32': 1, '33': 1}