In [67]:
import pandas as pd
import numpy as np
import os

In [12]:
#Files to load
crime_analysis = "Crimes_-_One_year_prior_to_present.csv.crdownload"
arrest_analysis = "Arrests.csv"

In [32]:
crime_analysis_df = pd.read_csv(crime_analysis)

In [13]:
arrest_analysis_df = pd.read_csv(arrest_analysis)
arrest_analysis_df

,CB_NO,CASE NUMBER,ARREST DATE,RACE,CHARGE 1 STATUTE,CHARGE 1 DESCRIPTION,CHARGE 1 TYPE,CHARGE 1 CLASS,CHARGE 2 STATUTE,CHARGE 2 DESCRIPTION,...,CHARGE 3 TYPE,CHARGE 3 CLASS,CHARGE 4 STATUTE,CHARGE 4 DESCRIPTION,CHARGE 4 TYPE,CHARGE 4 CLASS,CHARGES STATUTE,CHARGES DESCRIPTION,CHARGES TYPE,CHARGES CLASS
0,18922700,NaN,06/26/2014 10:51:00 PM,BLACK,725 ILCS 5.0/110-3,ISSUANCE OF WARRANT,NaN,Z,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,725 ILCS 5.0/110-3 | | |,ISSUANCE OF WARRANT | | |,| | |,Z | | |
1,18922086,NaN,06/26/2014 12:07:00 AM,BLACK,625 ILCS 5.0/6-303-A,DRIVING ON SUSPENDED LICENSE,M,A,9-76-160(A),DISPLAY ST REG-FRONT/REAR,...,NaN,NaN,NaN,NaN,NaN,NaN,625 ILCS 5.0/6-303-A | 9-76-160(A) | |,DRIVING ON SUSPENDED LICENSE | DISPLAY ST REG-...,M | | |,A | L | |
2,18908465,HX290868,06/05/2014 11:58:00 AM,BLACK,720 ILCS 570.0/402-C,PCS - POSSESSION - POSS AMT CON SUB EXCEPT (A)(D),F,4,720 ILCS 600.0/3.5-A,PCS - DRUG PARAPHERNALIA - POSSESS,...,NaN,NaN,NaN,NaN,NaN,NaN,720 ILCS 570.0/402-C | 720 ILCS 600.0/3.5-A | |,PCS - POSSESSION - POSS AMT CON SUB EXCEPT (A)...,F | M | |,4 | A | |
3,18914257,HX302763,06/14/2014 04:50:00 AM,BLACK,720 ILCS 5.0/12-3-A-1,BATTERY - CAUSE BODILY HARM,M,A,520 ILCS 5.0/1.22,RESIST/OBSTRUCT OFFICER,...,M,A,NaN,NaN,NaN,NaN,720 ILCS 5.0/12-3-A-1 | 520 ILCS 5.0/1.22 | 72...,BATTERY - CAUSE BODILY HARM | RESIST/OBSTRUCT ...,M | M | M |,A | A | A |
4,18911035,NaN,06/09/2014 08:45:00 AM,BLACK,8-4-030,DRINKING ALCOHOL ON THE PUBLIC WAY,NaN,L,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,8-4-030 | | |,DRINKING ALCOHOL ON THE PUBLIC WAY | | |,| | |,L | | |
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
549799,30063870,JE279841,06/26/2021 05:20:00 AM,BLACK,720 ILCS 5.0/12-3.2-A-1,DOMESTIC BATTERY - BODILY HARM,M,A,720 ILCS 5.0/21-1-A-1,CRIM DAMAGE TO PROPERTY <$500,...,NaN,NaN,NaN,NaN,NaN,NaN,720 ILCS 5.0/12-3.2-A-1 | 720 ILCS 5.0/21-1-A-...,DOMESTIC BATTERY - BODILY HARM | CRIM DAMAGE T...,M | M | |,A | A | |
549800,30063994,JE280537,06/26/2021 07:27:00 PM,BLACK,720 ILCS 5.0/12-2-C-1,AGG ASSAULT/USE DEADLY WEAPON,M,A,720 ILCS 5.0/31-4.5-A,OBSTRUCTING IDENTIFICATION,...,NaN,NaN,NaN,NaN,NaN,NaN,720 ILCS 5.0/12-2-C-1 | 720 ILCS 5.0/31-4.5-A ...,AGG ASSAULT/USE DEADLY WEAPON | OBSTRUCTING ID...,M | M | |,A | A | |
549801,30063987,JE280545,06/26/2021 07:40:00 PM,WHITE HISPANIC,720 ILCS 5.0/12-3.2-A-1,DOMESTIC BATTERY - BODILY HARM,M,A,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,720 ILCS 5.0/12-3.2-A-1 | | |,DOMESTIC BATTERY - BODILY HARM | | |,M | | |,A | | |
549802,30064042,JE280726,06/26/2021 11:25:00 PM,BLACK,730 ILCS 150.0/3-A,VIOLATE SEX OFFENDER REGIS/2+,F,2,720 ILCS 5.0/12-3.2-A-1,DOMESTIC BATTERY - BODILY HARM,...,NaN,NaN,NaN,NaN,NaN,NaN,730 ILCS 150.0/3-A | 720 ILCS 5.0/12-3.2-A-1 | |,VIOLATE SEX OFFENDER REGIS/2+ | DOMESTIC BATTE...,F | M | |,2 | A | |
549803,30064028,JE280700,06/26/2021 11:05:00 PM,WHITE HISPANIC,720 ILCS 570.0/402-C,PCS - POSSESSION - POSS AMT CON SUB EXCEPT (A)(D),F,4,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,720 ILCS 570.0/402-C | | |,PCS - POSSESSION - POSS AMT CON SUB EXCEPT (A)...,F | | |,4 | | |

In [53]:
crime_analysis_drop = crime_analysis_df.drop(axis=0,columns=["BLOCK"," IUCR"," SECONDARY DESCRIPTION"," LOCATION DESCRIPTION","BEAT","FBI CD","X COORDINATE","Y COORDINATE","LATITUDE","LONGITUDE","LOCATION"])
crime_analysis_drop
# crime_analysis_df.dtypes
# crime_analysis_drop.notnull
crime_analysis_drop.count()

CASE#                   80024
DATE  OF OCCURRENCE     80024
 PRIMARY DESCRIPTION    80024
ARREST                  80024
DOMESTIC                80024
WARD                    80019
dtype: int64

In [54]:
crime_analysis_drop['WARD'].isnull()

0        False
1        False
2        False
3        False
4        False
         ...
80019    False
80020    False
80021    False
80022    False
80023     True
Name: WARD, Length: 80024, dtype: bool

In [55]:
crime_analysis_drop.dropna()

,CASE#,DATE OF OCCURRENCE,PRIMARY DESCRIPTION,ARREST,DOMESTIC,WARD
0,JF121694,12/07/2021 01:00:00 PM,THEFT,N,N,4.0
1,JF104823,12/30/2021 03:45:00 PM,DECEPTIVE PRACTICE,N,N,37.0
2,JE266628,06/15/2021 09:30:00 AM,THEFT,N,N,8.0
3,JE266536,06/15/2021 07:50:00 AM,ASSAULT,N,N,28.0
4,JE266663,06/15/2021 08:40:00 AM,DECEPTIVE PRACTICE,N,N,47.0
...,...,...,...,...,...,...
80018,JE215759,04/29/2021 03:10:00 AM,THEFT,N,N,44.0
80019,JE186731,04/01/2021 10:55:00 PM,ASSAULT,Y,Y,20.0
80020,JE214152,04/29/2021 04:30:00 PM,BATTERY,Y,N,11.0
80021,JE186497,04/01/2021 05:25:00 PM,BATTERY,N,Y,16.0
80022,JE185975,04/01/2021 09:31:00 AM,ASSAULT,N,Y,20.0

In [60]:
crime_analysis_notnull = crime_analysis_drop['WARD'].dropna()

In [65]:
crime_no_na = crime_analysis_drop.dropna()
crime_no_na.count()

CASE#                   80019
DATE  OF OCCURRENCE     80019
 PRIMARY DESCRIPTION    80019
ARREST                  80019
DOMESTIC                80019
WARD                    80019
dtype: int64

In [56]:
crime_analysis_df.isna()

,CASE#,DATE OF OCCURRENCE,BLOCK,IUCR,PRIMARY DESCRIPTION,SECONDARY DESCRIPTION,LOCATION DESCRIPTION,ARREST,DOMESTIC,BEAT,WARD,FBI CD,X COORDINATE,Y COORDINATE,LATITUDE,LONGITUDE,LOCATION
0,False,False,False,False,False,False,False,False,False,False,False,False,True,True,True,True,True
1,False,False,False,False,False,False,False,False,False,False,False,False,True,True,True,True,True
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,True,False,False,False,False,False,True,True,True,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
80019,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
80020,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
80021,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
80022,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
80023,False,False,False,False,False,False,False,False,False,False,True,True,True,True,True,True,True

In [14]:
# Drop the NaNs.
crime_analysis_df.dropna()

,CASE#,DATE OF OCCURRENCE,BLOCK,IUCR,PRIMARY DESCRIPTION,SECONDARY DESCRIPTION,LOCATION DESCRIPTION,ARREST,DOMESTIC,BEAT,WARD,FBI CD,X COORDINATE,Y COORDINATE,LATITUDE,LONGITUDE,LOCATION
2,JE266628,06/15/2021 09:30:00 AM,080XX S DREXEL AVE,0820,THEFT,$500 AND UNDER,STREET,N,N,631,8.0,06,1183633.0,1851786.0,41.748486,-87.602675,"(41.748486365, -87.602675062)"
3,JE266536,06/15/2021 07:50:00 AM,042XX W MADISON ST,0560,ASSAULT,SIMPLE,SIDEWALK,N,N,1115,28.0,08A,1148227.0,1899678.0,41.880661,-87.731186,"(41.880660786, -87.731186405)"
5,JE267466,06/15/2021 09:01:00 PM,007XX S KEDZIE AVE,051B,ASSAULT,AGGRAVATED - OTHER FIREARM,SIDEWALK,Y,N,1134,24.0,04A,1155154.0,1896404.0,41.871540,-87.705839,"(41.87154041, -87.705838807)"
6,JE266473,06/15/2021 07:47:00 AM,062XX S MORGAN ST,0110,HOMICIDE,FIRST DEGREE MURDER,APARTMENT,N,N,712,16.0,01A,1170714.0,1863474.0,41.780851,-87.649674,"(41.780850996, -87.649674221)"
7,JE267222,06/15/2021 01:55:00 AM,015XX S KENNETH AVE,4386,OTHER OFFENSE,VIOLATION OF CIVIL NO CONTACT ORDER,APARTMENT,N,Y,1012,24.0,26,1146970.0,1892136.0,41.859989,-87.735995,"(41.859988733, -87.73599476)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
80017,JE216276,04/29/2021 03:00:00 PM,027XX N WAYNE AVE,0620,BURGLARY,UNLAWFUL ENTRY,RESIDENCE - GARAGE,N,N,1932,32.0,05,1166839.0,1918271.0,41.931303,-87.662311,"(41.931302515, -87.662310716)"
80019,JE186731,04/01/2021 10:55:00 PM,014XX W 50TH ST,0560,ASSAULT,SIMPLE,RESIDENCE,Y,Y,933,20.0,08A,1167430.0,1871587.0,41.803185,-87.661482,"(41.803185051, -87.66148156)"
80020,JE214152,04/29/2021 04:30:00 PM,007XX W ROOSEVELT RD,0460,BATTERY,SIMPLE,CTA BUS,Y,N,1232,11.0,08B,1171334.0,1894932.0,41.867161,-87.646479,"(41.8671612, -87.646479181)"
80021,JE186497,04/01/2021 05:25:00 PM,061XX S MAPLEWOOD AVE,0486,BATTERY,DOMESTIC BATTERY SIMPLE,APARTMENT,N,Y,825,16.0,08B,1160426.0,1863809.0,41.781989,-87.687383,"(41.781988547, -87.687382954)"
80022,JE185975,04/01/2021 09:31:00 AM,063XX S EGGLESTON AVE,0520,ASSAULT,AGGRAVATED - KNIFE / CUTTING INSTRUMENT,APARTMENT,N,Y,722,20.0,04A,1174357.0,1863050.0,41.779607,-87.636331,"(41.779607237, -87.636330923)"

In [31]:
# crime_analysis_df.drop_duplicates()

,CASE#,DATE OF OCCURRENCE,BLOCK,IUCR,PRIMARY DESCRIPTION,SECONDARY DESCRIPTION,LOCATION DESCRIPTION,ARREST,DOMESTIC,BEAT,WARD,FBI CD,X COORDINATE,Y COORDINATE,LATITUDE,LONGITUDE,LOCATION
0,JF121694,12/07/2021 01:00:00 PM,052XX S BLACKSTONE AVE,0820,THEFT,$500 AND UNDER,STREET,N,N,234,4.0,06,NaN,NaN,NaN,NaN,NaN
1,JF104823,12/30/2021 03:45:00 PM,017XX N CICERO AVE,1206,DECEPTIVE PRACTICE,"THEFT BY LESSEE, MOTOR VEHICLE",COMMERCIAL / BUSINESS OFFICE,N,N,2533,37.0,11,NaN,NaN,NaN,NaN,NaN
2,JE266628,06/15/2021 09:30:00 AM,080XX S DREXEL AVE,0820,THEFT,$500 AND UNDER,STREET,N,N,631,8.0,06,1183633.0,1851786.0,41.748486,-87.602675,"(41.748486365, -87.602675062)"
3,JE266536,06/15/2021 07:50:00 AM,042XX W MADISON ST,0560,ASSAULT,SIMPLE,SIDEWALK,N,N,1115,28.0,08A,1148227.0,1899678.0,41.880661,-87.731186,"(41.880660786, -87.731186405)"
4,JE266663,06/15/2021 08:40:00 AM,044XX N ARTESIAN AVE,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,NaN,N,N,1911,47.0,11,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
80019,JE186731,04/01/2021 10:55:00 PM,014XX W 50TH ST,0560,ASSAULT,SIMPLE,RESIDENCE,Y,Y,933,20.0,08A,1167430.0,1871587.0,41.803185,-87.661482,"(41.803185051, -87.66148156)"
80020,JE214152,04/29/2021 04:30:00 PM,007XX W ROOSEVELT RD,0460,BATTERY,SIMPLE,CTA BUS,Y,N,1232,11.0,08B,1171334.0,1894932.0,41.867161,-87.646479,"(41.8671612, -87.646479181)"
80021,JE186497,04/01/2021 05:25:00 PM,061XX S MAPLEWOOD AVE,0486,BATTERY,DOMESTIC BATTERY SIMPLE,APARTMENT,N,Y,825,16.0,08B,1160426.0,1863809.0,41.781989,-87.687383,"(41.781988547, -87.687382954)"
80022,JE185975,04/01/2021 09:31:00 AM,063XX S EGGLESTON AVE,0520,ASSAULT,AGGRAVATED - KNIFE / CUTTING INSTRUMENT,APARTMENT,N,Y,722,20.0,04A,1174357.0,1863050.0,41.779607,-87.636331,"(41.779607237, -87.636330923)"
80023,JE274089,06/21/2021 11:16:00 AM,046XX W HARRISON ST,0486,BATTERY,DOMESTIC BATTERY SIMPLE,SIDEWALK,N,Y,113,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [30]:
crime_analysis_df['LOCATION'].nunique()

52266

In [10]:
crime_analysis_df.count()

CASE#                     80024
DATE  OF OCCURRENCE       80024
BLOCK                     80024
 IUCR                     80024
 PRIMARY DESCRIPTION      80024
 SECONDARY DESCRIPTION    80024
 LOCATION DESCRIPTION     79702
ARREST                    80024
DOMESTIC                  80024
BEAT                      80024
WARD                      80019
FBI CD                    80023
X COORDINATE              78629
Y COORDINATE              78629
LATITUDE                  78629
LONGITUDE                 78629
LOCATION                  78629
dtype: int64

In [70]:
# os.makedirs('folder/subfolder', exist_ok=True)  
crime_no_na.to_csv('folder/subfolder/out.csv')

In [95]:
reclean_crime = crime_no_na.drop_duplicates
reclean_crime.to_csv("folder/subfolder/reclean_crime.csv")

AttributeError: 'function' object has no attribute 'to_csv'

In [73]:
arrest_analysis_df.dtypes

CB_NO                    int64
CASE NUMBER             object
ARREST DATE             object
RACE                    object
CHARGE 1 STATUTE        object
CHARGE 1 DESCRIPTION    object
CHARGE 1 TYPE           object
CHARGE 1 CLASS          object
CHARGE 2 STATUTE        object
CHARGE 2 DESCRIPTION    object
CHARGE 2 TYPE           object
CHARGE 2 CLASS          object
CHARGE 3 STATUTE        object
CHARGE 3 DESCRIPTION    object
CHARGE 3 TYPE           object
CHARGE 3 CLASS          object
CHARGE 4 STATUTE        object
CHARGE 4 DESCRIPTION    object
CHARGE 4 TYPE           object
CHARGE 4 CLASS          object
CHARGES STATUTE         object
CHARGES DESCRIPTION     object
CHARGES TYPE            object
CHARGES CLASS           object
dtype: object

In [80]:
arrest_analysis_drop = arrest_analysis_df.drop(axis=0, columns=["CB_NO","ARREST DATE","CHARGE 1 STATUTE","CHARGE 1 DESCRIPTION",\
    "CHARGE 1 CLASS","CHARGE 2 STATUTE","CHARGE 2 DESCRIPTION","CHARGE 2 TYPE","CHARGE 2 CLASS","CHARGE 3 STATUTE","CHARGE 3 DESCRIPTION","CHARGE 3 TYPE",\
       "CHARGE 3 CLASS","CHARGE 4 STATUTE","CHARGE 4 DESCRIPTION","CHARGE 4 TYPE","CHARGE 4 CLASS","CHARGES STATUTE","CHARGES DESCRIPTION","CHARGES TYPE","CHARGES CLASS"])
arrest_analysis_drop.count()

CASE NUMBER      332404
RACE             549804
CHARGE 1 TYPE    430883
dtype: int64

In [81]:
arrest_analysis_clean = arrest_analysis_drop.dropna()

In [82]:
arrest_analysis_clean.count()

CASE NUMBER      316163
RACE             316163
CHARGE 1 TYPE    316163
dtype: int64

In [83]:
arrest_analysis_clean.to_csv('folder/subfolder/arrest_analysis_clean.csv')

In [85]:
arrest_clean_drop = arrest_analysis_clean.drop_duplicates()
arrest_clean_drop
arrest_analysis_drop.to_csv('folder/subfolder/arrest_analysis_drop.csv')

In [86]:
arrest_analysis_drop.count()

CASE NUMBER      332404
RACE             549804
CHARGE 1 TYPE    430883
dtype: int64

In [87]:
arrest_analysis_reclean = arrest_analysis_drop.dropna()

In [88]:
arrest_analysis_reclean.count()

CASE NUMBER      316163
RACE             316163
CHARGE 1 TYPE    316163
dtype: int64

In [89]:
arrest_analysis_reclean.to_csv('folder/subfolder/arrest_analysis_reclean.csv')

In [98]:
crime_analysis_lat_long = crime_analysis_df.drop(axis=0,columns=["BLOCK"," IUCR"," SECONDARY DESCRIPTION"," LOCATION DESCRIPTION","BEAT","FBI CD",\
    "X COORDINATE","Y COORDINATE","LOCATION"])
crime_analysis_lat_long    
clean_crime_lat_long = crime_analysis_lat_long.dropna()

,CASE#,DATE OF OCCURRENCE,PRIMARY DESCRIPTION,ARREST,DOMESTIC,WARD,LATITUDE,LONGITUDE
0,JF121694,12/07/2021 01:00:00 PM,THEFT,N,N,4.0,NaN,NaN
1,JF104823,12/30/2021 03:45:00 PM,DECEPTIVE PRACTICE,N,N,37.0,NaN,NaN
2,JE266628,06/15/2021 09:30:00 AM,THEFT,N,N,8.0,41.748486,-87.602675
3,JE266536,06/15/2021 07:50:00 AM,ASSAULT,N,N,28.0,41.880661,-87.731186
4,JE266663,06/15/2021 08:40:00 AM,DECEPTIVE PRACTICE,N,N,47.0,NaN,NaN
...,...,...,...,...,...,...,...,...
80019,JE186731,04/01/2021 10:55:00 PM,ASSAULT,Y,Y,20.0,41.803185,-87.661482
80020,JE214152,04/29/2021 04:30:00 PM,BATTERY,Y,N,11.0,41.867161,-87.646479
80021,JE186497,04/01/2021 05:25:00 PM,BATTERY,N,Y,16.0,41.781989,-87.687383
80022,JE185975,04/01/2021 09:31:00 AM,ASSAULT,N,Y,20.0,41.779607,-87.636331
80023,JE274089,06/21/2021 11:16:00 AM,BATTERY,N,Y,NaN,NaN,NaN

In [99]:
clean_crime_lat_long = crime_analysis_lat_long.dropna()
clean_crime_lat_long

,CASE#,DATE OF OCCURRENCE,PRIMARY DESCRIPTION,ARREST,DOMESTIC,WARD,LATITUDE,LONGITUDE
2,JE266628,06/15/2021 09:30:00 AM,THEFT,N,N,8.0,41.748486,-87.602675
3,JE266536,06/15/2021 07:50:00 AM,ASSAULT,N,N,28.0,41.880661,-87.731186
5,JE267466,06/15/2021 09:01:00 PM,ASSAULT,Y,N,24.0,41.871540,-87.705839
6,JE266473,06/15/2021 07:47:00 AM,HOMICIDE,N,N,16.0,41.780851,-87.649674
7,JE267222,06/15/2021 01:55:00 AM,OTHER OFFENSE,N,Y,24.0,41.859989,-87.735995
...,...,...,...,...,...,...,...,...
80017,JE216276,04/29/2021 03:00:00 PM,BURGLARY,N,N,32.0,41.931303,-87.662311
80019,JE186731,04/01/2021 10:55:00 PM,ASSAULT,Y,Y,20.0,41.803185,-87.661482
80020,JE214152,04/29/2021 04:30:00 PM,BATTERY,Y,N,11.0,41.867161,-87.646479
80021,JE186497,04/01/2021 05:25:00 PM,BATTERY,N,Y,16.0,41.781989,-87.687383
80022,JE185975,04/01/2021 09:31:00 AM,ASSAULT,N,Y,20.0,41.779607,-87.636331

In [100]:
clean_crime_lat_long.count()

CASE#                   78625
DATE  OF OCCURRENCE     78625
 PRIMARY DESCRIPTION    78625
ARREST                  78625
DOMESTIC                78625
WARD                    78625
LATITUDE                78625
LONGITUDE               78625
dtype: int64

In [107]:
crime_lat_long = clean_crime_lat_long.drop_duplicates

In [106]:
crime_lat_long.to_csv('folder/subfolder/crime_lat_long.csv')

In [112]:
crime_lat_long

<bound method DataFrame.drop_duplicates of           CASE#     DATE  OF OCCURRENCE  PRIMARY DESCRIPTION ARREST DOMESTIC  \
2      JE266628  06/15/2021 09:30:00 AM                THEFT      N        N
3      JE266536  06/15/2021 07:50:00 AM              ASSAULT      N        N
5      JE267466  06/15/2021 09:01:00 PM              ASSAULT      Y        N
6      JE266473  06/15/2021 07:47:00 AM             HOMICIDE      N        N
7      JE267222  06/15/2021 01:55:00 AM        OTHER OFFENSE      N        Y
...         ...                     ...                  ...    ...      ...
80017  JE216276  04/29/2021 03:00:00 PM             BURGLARY      N        N
80019  JE186731  04/01/2021 10:55:00 PM              ASSAULT      Y        Y
80020  JE214152  04/29/2021 04:30:00 PM              BATTERY      Y        N
80021  JE186497  04/01/2021 05:25:00 PM              BATTERY      N        Y
80022  JE185975  04/01/2021 09:31:00 AM              ASSAULT      N        Y

       WARD   LATITUDE  LONGITUDE
2       8.0  41.748486 -87.602675
3      28.0  41.880661 -87.731186
5      24.0  41.871540 -87.705839
6      16.0  41.780851 -87.649674
7      24.0  41.859989 -87.735995
...     ...        ...        ...
80017  32.0  41.931303 -87.662311
80019  20.0  41.803185 -87.661482
80020  11.0  41.867161 -87.646479
80021  16.0  41.781989 -87.687383
80022  20.0  41.779607 -87.636331

[78625 rows x 8 columns]>